<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>12</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>False</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\bagel\Documents\! Github\Grombdoll\Builds\MostRecentBuild\</PublishDir>
    <PublishUrl>C:\Users\bagel\Documents\! Github\Grombdoll\Builds\MostRecentBuild\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2022-10-28T02:56:56.5089966Z;True|2022-10-23T14:43:05.8541630-05:00;False|2022-10-23T14:42:36.0259628-05:00;False|2022-10-23T14:41:55.1936977-05:00;True|2022-10-23T14:39:53.5440793-05:00;True|2022-10-21T21:46:53.9757320-05:00;True|2022-10-21T21:46:03.4367894-05:00;True|2022-10-21T21:45:00.7936764-05:00;True|2022-10-21T21:41:05.7074226-05:00;True|2022-10-21T21:25:11.7272475-05:00;True|2022-10-20T00:57:50.8362071-05:00;</History>
  </PropertyGroup>
</Project>